### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [13]:
#Dependencies and Setup
import pandas as pd

#File to Load (Remember to Change These)
file_to_load = "resources/04-Pandas_HW_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

#Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [14]:
#Creates some new varibales for running calculations
uniquePlayer= len(purchase_data_df["SN"].value_counts())
uniquePlayer_df=pd.DataFrame([uniquePlayer], columns = ["Total Players"])
uniquePlayer_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#Creates some new varibales for running calculations
uniqueItems = len(purchase_data_df["Item Name"].unique())
avgPrice = purchase_data_df["Price"].mean()
numPurchase = purchase_data_df["Item Name"].count()
totalRevenue = purchase_data_df["Price"].sum()

#Create new DataFrame
summaryData_df=pd.DataFrame({"Number of Unique Items":[uniqueItems],"Average Purchase Price":[avgPrice],
                            "Total Number of Purchases":[numPurchase],"Total Revenue":[totalRevenue]})

#Formats the data to be displayed
summaryData_df.style.format({"Average Purchase Price":"${:.2f}","Total Revenue":"${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [16]:
#Groups together similiar genders
genderData = purchase_data_df.groupby("Gender")
genderCount = genderData.nunique()["SN"]

#Calculates the percentages of genders
genderPercentage = genderCount / uniquePlayer * 100

#Create new DataFrame
genderStats_df = pd.DataFrame({ "Total Count": genderCount, "Percentage of Players": genderPercentage})

#Formats the data to be displayed
genderStats_df.index.name = None
genderStats_df.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#Creates some new varibales for running calculations
purchaseCountGender = genderData["SN"].count()
purchasePriceGender = genderData["Price"].mean()
purchaseSumGender = genderData["Price"].sum()

#Drops duplicate players, and groups by gender
dupValues = purchase_data_df.drop_duplicates(subset="SN", keep='first')
duplicatesPlayer = dupValues.groupby(["Gender"])

#Calculates Average Total per Person
purch_Norm = (genderData["Price"].sum() / duplicatesPlayer["SN"].count())

#Create new DataFrame
purchaseStats_df = pd.DataFrame({"Purchase Count": purchaseCountGender,
                              "Average Purchase Price": purchasePriceGender,
                              "Total Purchase Value": purchaseSumGender,
                              "Avg Total Purchases per Person": purch_Norm})

#Sets the index title to Age Ranges
purchaseStats_df.index.name = "Gender"

#Formats the data to be displayed
purchaseStats_df.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchases per Person":"{:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
#Creates my bins for separating values
bins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,99]
ageIdx = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","+40"]

#Adds a new column to original DataFrame of group/similiar age
purchase_data_df["Age Count"] = pd.cut(purchase_data_df["Age"], bins, labels=ageIdx)
purchase_data_df

#Groups together similiar Age
ageCount = purchase_data_df.groupby("Age Count")

#Creates some new varibales for running calculations
totalAgeCount = ageCount["SN"].nunique()
agePercentage = (totalAgeCount/uniquePlayer) * 100

#Creates a DataFrame using the new variable established above
ageCountSummary_df = pd.DataFrame({"Total Count": totalAgeCount, "Percentage of Player": agePercentage})

#Formats the data to be displayed
ageCountSummary_df.index.name = None
ageCountSummary_df.style.format({"Percentage of Player":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Creates some new varibales for running calculations
purchaseDataAge = ageCount["Purchase ID"].count()
totalPurchaseAge = ageCount["Price"].sum()
avgPurchaseAge = ageCount["Price"].mean()

#Calculates average total purchase
purchasePerPlayer = totalPurchaseAge/totalAgeCount

#Creates a DataFrame using the new variable established above
purchaseCountSummary_df = pd.DataFrame({"Purchase Count": purchaseDataAge, "Average Purchase Price": avgPurchaseAge, 
                                        "Total Purchase Value": totalPurchaseAge, "Avg Total Purchase per Person": purchasePerPlayer})
#Sets the index title to Age Ranges
purchaseCountSummary_df.index.name = "Age Ranges"

#Formats the data to be displayed
purchaseCountSummary_df.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2F}",
                                      "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Groups together similiar SN's
selectedPlayerStats = purchase_data_df.groupby("SN")

#Creates some new varibales for running calculations
purchaseCountPlayer = selectedPlayerStats["Purchase ID"].count()
totalPurchasePlayer = selectedPlayerStats["Price"].sum()
avgPurchasePlayer = selectedPlayerStats["Price"].mean()

#Creates a DataFrame using the new variable established above
valuedPlayer_df =pd.DataFrame({"Purchase Count": purchaseCountPlayer, "Average Purchase Price": avgPurchasePlayer,
                              "Total Purchase Value": totalPurchasePlayer})

#Sets the DataFrame to a new variable for transformation
valuedPlayerFormat = valuedPlayer_df.sort_values(by="Total Purchase Value", ascending = False).head()

#Formats the data to be displayed
valuedPlayerFormat.style.format({"Average Purchase Total":"${:,.2f}", "Average Purchase Price":"${:,.2f}", 
                            "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Creates a series from the original DataFrame
itemList = purchase_data_df[["Item ID","Item Name", "Price"]]

#Groups together two columns
itemData = itemList.groupby(["Item ID","Item Name"])

#Creates some new varibales for running calculations
itemPurchaseCount = itemData["Price"].count()
itemPurchaseValue = itemData["Price"].sum()
itemPrice = itemPurchaseValue / itemPurchaseCount

#Creates a DataFrame using the new variable established above
item_df = pd.DataFrame({"Purchase Count": itemPurchaseCount, "Item Price": itemPrice, 
                        "Total Purchase Value": itemPurchaseValue })

#Sets the DataFrame to a new variable for transformation
itemFormatPopular = item_df.sort_values(["Purchase Count"], ascending = False).head()

#Formats the data to be displayed
itemFormatPopular.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Pulls down the item DataFrame created above and sets it to a new variable
itemFormatProfit = item_df.sort_values(["Total Purchase Value"], ascending = False).head()

#Formats the data to be displayed
itemFormatProfit.style.format({"Item Price":"${:,.2f}", "Total Purchase Value":"${:,.2f}"})

### Observable Trend

First observable trend, Males are the majority in game play, and this can also be observed that males make the most purchases.

Second observed trend, that between ages 20-24 (non-discriminate to just males) shows this age range of players spends the most in purchases, this also is true because the age of players is heavily dominant in this range.